{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 120,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": false
}
